.Vol-title {
    text-align: center;
    color :'#00BA91';
  }

  .breadcrumb {
    background-color: transparent;
  }

  .card {
    width : 100%;
  }

  .cardtext {
    text-align: justify;
  }



  